// Descriptive color variables

$white          : #fff;
$black          : #000;
$grey           : #878787;
$black			: black;
$river-bed      : #2E2124;
$deep-red		: #470a0a;

// Functional color variables

$color-prim         : $deep-red;
$color-sec          : $river-bed;

$color-text-light   : $white;
$color-text-base    : $grey;
$color-text-dark    : $river-bed;

$color-border-light : lighten($grey, 35%);
$color-border-dark  : $river-bed;

$color-link-default : $deep-red;
$color-link-visited : $black;

$color-shadow       : rgba($black,.8);
$color-body         : $white;

// Font stacks

$stack-sans-serif : Helvetica, Arial, sans-serif;
$stack-helvetica  : 'Helvetica Neue', $stack-sans-serif;
$stack-abolition  : 'Abolition Regular', $stack-sans-serif;
$stack-roboto	  : 'Pathway Gothic One', san-serif;

// Border radius

$br: 10px;

// Asset paths

$path-img  : '../img';
$path-font : '../fonts';

// Media query breakpoints

$brk-narrow : '(max-width: 768px)';
$brk-wide   : '(max-width: 1024px)';
